<!--The content below is only a placeholder and can be replaced.-->

  <div class="app-container">
      <div class="header">
          <h1>
              Welcome to Angufliped 
            </h1>
            <app-budget class="budget"></app-budget>
      </div>
         
          <div class="app-movies">
              <app-movies></app-movies>
          </div>   
          <div class ="movie-collection">
            <h2>Your Movie Collection:</h2>
            <app-moviecollection></app-moviecollection>
          </div>
  </div>





