<mat-card class="movie-card" >
    <h5> {{ movie.title }}, {{movie.year}}</h5>
    <img src="{{movie.imgUrl}}">
    
    <mat-card-content [routerLink]="['fullmovie', movie._id]" (click) = "onClickInspeced()">
        <p>
            <strong>Description:</strong> {{ movie.shortDescription }}
        </p>
        <p>
            <strong>Price</strong>{{movie.price | currency:usd}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button class="buy-btn" *ngIf="buttonText == 'purchase'" mat-button (click)="onClickPurchase()">{{buttonText}}</button>
        <button *ngIf="buttonText == 'remove'" mat-button (click)="onClickRemove()">{{buttonText}}</button>
    </mat-card-actions>
</mat-card>